<mat-nav-list>
    <h2 matSubheader class="mt-2">Main Menu</h2>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./dashboard']">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./list-nft']"> 
      <mat-icon>edit</mat-icon> List Nft 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./about">
      <mat-icon>list</mat-icon> def 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./contact"> 
      <mat-icon>list</mat-icon>ijk 
    </a>
  </mat-nav-list>
  